# Compiled client assets
/public/build
/public/hot

# Local development directories
/node_modules
/vendor

# Log files
/storage/logs
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/cache/data/*

# Environment files
.env
.env.backup
.env.production

# IDEs and system files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Laravel Sail
/.sail/

# Laravel Telescope
telescope.sqlite

# Testing
/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Pint
pint.json