@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'flowbite';

/* Additional styles */

@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

.animate-slide-in {
    animation: slideIn 0.3s ease-out;
}

.animate-fade-out {
    animation: fadeOut 0.3s ease-out;
}
